.vs/
goFriend/goFriend.Android/bin/
goFriend/goFriend.Android/obj/
goFriend/goFriend.iOS/bin/
goFriend/goFriend.iOS/obj/
goFriend/goFriend.MobileAppService/bin/
goFriend/goFriend.MobileAppService/obj/
goFriend/goFriend/obj/
goFriend/goFriend/bin/
goFriend/goFriend.DataModel/bin/
goFriend/goFriend.DataModel/obj/
goFriend/goFriend.AppleSignIn/obj/
goFriend/goFriend.AppleSignIn/bin/
goFriend/goFriend.MobileAppService/Properties/PublishProfiles/
goFriend.Test/
packages/
goFriend/goFriend.Services/bin/
goFriend/goFriend.Services/obj/
goFriend/goFriend.Functions/bin/
goFriend/goFriend.Functions/obj/
goFriend/goFriend.Functions/Properties/PublishProfiles/
goFriend/goFriend.WebApi/bin/
goFriend/goFriend.WebApi/obj/
