<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HomePageUrl" value="http://gofriend.azurewebsites.net" />
    <add key="AzureBackendUrl" value="https://gofriend.azurewebsites.net" />
    <add key="AzureBackendUrl1010" value="https://gofrienddev.azurewebsites.net" />
    <add key="AzureBackendUrl112" value="https://gofriendchat.azurewebsites.net" />
    <add key="ListViewPageSize" value="10" />
    <add key="CacheTimeout.GetSetting" value="180" />
    <add key="CacheTimeout.GetGroupFixedCatValues" value="180" />
    <add key="MinimumClusterSize" value="20" />
  </appSettings>
</configuration>
