<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>Hanoi9194</string>
	<key>CFBundleIdentifier</key>
	<string>com.dph.GoFriend9194</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>GoFriend</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb390965618178021</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>390965618178021</string>
	<key>FacebookDisplayName</key>
	<string>GoFriend</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImages.launchimage</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>yourdomain.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Vị trí của bạn được dùng để phát hiện sự dịch chuyển gần nhau giữa cách thành viên trong nhóm</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Vị trí của bạn được dùng để tham khảo khi bạn thiết lập vị trí khi gia nhập nhóm</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Vị trí của bạn được dùng để tham khảo khi bạn thiết lập vị trí khi gia nhập nhóm</string>
	<key>NSCameraUsageDescription</key>
	<string>Máy ảnh được dùng khi bạn muốn chụp ảnh gửi bạn bè.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Thư viện ảnh được dùng khi bạn muốn gửi ảnh cho bạn bè.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Micro được dùng khi bạn muốn gửi âm thanh cho bạn bè.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Thư viện ảnh được dùng khi bạn muốn gửi ảnh cho bạn bè.</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.15</string>
	<key>CFBundleVersion</key>
	<string>41</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>fa-solid-900.ttf</string>
		<string>ionicons.ttf</string>
	</array>
  <key>GADApplicationIdentifier</key>
  <string>ca-app-pub-6249589914041033~3494807477</string>
  <key>NSUserTrackingUsageDescription</key>
  <string>Chương trình theo dõi vị trí của bạn và chia sẻ cho bạn bè cùng nhóm trong phạm vi bạn chọn. Bạn có thể bật/tắt chức năng này tùy theo nhóm và theo ý muốn của bạn một cách dễ dàng</string>
</dict>
</plist>
